*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
**/build/
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.aar
.gdrive_credentials
.claude
.vscode
/__ai_scripts/onelapfit_runs/

